defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: "single"
      author_profile: false    # On enlève le profil à gauche qui prend de la place
      sidebar: []             # On vide la sidebar pour laisser toute la largeur
