---
---

// On enlève l'import qui fait planter le site pour l'instant
// On garde juste tes couleurs personnalisées

body {
  background-color: #e3f2fd !important;
}

.page, .sidebar, .masthead, .page__footer, .page__content, .archive, .inner {
  background-color: transparent !important;
}
