---
---

@import "minimal-mistakes";

// On force la couleur de fond sur tout le site
body {
  background-color: #e3f2fd !important;
}

// On s'assure que les blocs de contenu sont aussi transparents ou bleus
.page, .sidebar, .masthead, .page__footer {
  background-color: #e3f2fd !important;
}
